@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 820px) {
    
}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px) {
    .hidden-mobile{ display:none; }
    .featured_c_three .featured_thumb{ padding:0px }

/*    menu*/
    .search-container{ margin:0px; }

/*    home*/
    .middel_right{ display:none }
    .logo{ margin-bottom:0px; }
    .logo a img{ max-width:75% }
    .parent_logo{ display:flex; }
    .Offcanvas_menu{ margin-bottom:0px }
    .slider_section{ margin-top:0px }
    .single_slider{ height:235px }
    .featured_content h3{ line-height:18px }

/*    category*/
    .shop_banner{ margin-bottom:20px }
    .breadcrumb_content{ padding:0px }
    .category .product_thumb img{ height:150px; width:auto; margin: 0 auto; }
    .shop_toolbar_wrapper{ flex-direction: row; }
    .shop_toolbar_wrapper{ border:none; padding-top:0px }
    .category .product_content{ padding: 15px 5px; }
    .product_ratings ul li a{ font-size:14px }
    .product_thumb{ text-align:center; }
    .single_product .add_to_cart{ opacity:1; visibility: visible; position:absolute; top:5px; right:5px; }
    .single_product .add_to_cart .lnr{ font-size:34px }
/*    sitebar*/
    .widget_post .row{ flex-direction: row; align-items: center; }
    .widget_post .iteam h3{ font-size:1rem; line-height:22px; }

/*    chi tiết sản phẩm*/
    #big .owl-item img{ height:380px; width:auto; }
    .product_variant.quantity{ position:fixed;bottom: 0;width: 100%;background: #000;left: 0; text-align: center; margin: 0; z-index:3 }
    .product_variant.quantity a{ margin:0 auto; }
    .product_variant.quantity button{ width:100%; margin:0 }

/*    accout*/
    .account_dashboard .dashboard{ margin-bottom:20px; border-bottom:1px solid #ddd; padding-bottom:20px }

/*    checkout*/
    .checkout .row{ flex-direction: column-reverse; }
    .checkout .dathang{ margin-top:20px }
    .list-cart tr{ display:flex; flex-direction: column; align-items: flex-start; border-bottom:1px solid #ddd; padding-bottom:10px; }

/*    knot*/
    .knot-view>.nav>li{ width:70px; height:70px; margin-right:15px }
    .knot-view>.nav{ left:15px }
    .knot-view .mat img {height: 122px;top: 6px;left: 107px;}
    .knot-view .str_m img {height: 134px;left: 102px;}
    .knot-view .main-knot{ margin-top: 115px; }
    .knot-view{ min-height: 400px; }
    .knot-view .chitiet{ bottom:10% }
    .knot-list .nav li a{flex-direction: row; }
    .knot-list .nav li a div{ line-height:14px }
    .custom_day li img{ width:28px !important; margin-right:5px }
    .mini_cart .tab-content{ padding: 0px 10px 30px }
    .mini_cart .tab-content .outer{ padding:0px }
    .mini_cart .big .owl-item img{ height:200px }
    .mini_cart .thumbs .owl-item img{ height:40px }
    .mini_cart .desc{ margin-top:30px }
    .mini_cart{ width:95% }
    .mini_cart .desc .style-4{ height:max-height: 370px; }
}